# Dependencies
/node_modules

# Build
/dist
/.vercel
.env

# Personal Documents
*.docx
*.pdf
*.xlsx
*.wps
*.rdp
*.exe
*.tmp
desktop.ini

# Unrelated Projects
4life-master/
Dice challenge/
HowStuff-Learn/
React-CRUD-App/
Tesla ui clone/
TinDog-Start-master/
__MACOSX/
angela html/
cooking/
crud-app/
edge-ledger/
hospital/
hotel website/
js/
magic-memory/
portfolio_website/
python practise/
tailwind portfolio/
tailwindcss/
todo-list/
tuts/
weather app/
weatherapp/

# System files
.DS_Store
Custom Office Templates/
~$*
